* {
    padding: 0px;
    margin: 0px;
    border: 1apx solid black;
}
.header{
    width: 100%;
    height: 140px;
    position: sticky;
    top: 0px;
}
.header-top{
    background-color: black;
}
p.left {
    color: white;
    padding: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.show{
    margin-left: 80px;
}
.tel{
    color: blanchedalmond;
    margin-left: 500px;
    text-decoration: none;
}
.row {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: white;
    padding-top: 20px;
}
.row img {
    left: 100px;
    width: 186px;height:  60px;
}
.menu {
    position: absolute;
    top: 4px;
    right: 20px;
}
.menu-list {
    list-style: none;
    display: inline;
    margin: 0;
    padding: 0;
}
.sub-menu {
    list-style: none;
    display: none;
}
.menu .menu-list li{
    float: left;
    margin: 14px 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.anchor{
    display: none;
    color: coral;
    font-size: 18px;
}
.logo{
    margin: 95px;
}
.menu-list li {display: inline-block;}
.menu-list li:hover {background: white;}
.menu-list li:hover ul {display: block;}
.menu-list li ul {
    position: absolute;
    width: 200px;
    display: none;
    border: 1px solid black;
}
.menu-list .have-sub .sub-menu li {display: block;}
.menu-list .have-sub .sub-menu li a {display:block !important;} 
.menu .anchor {display: inline-block;}
.image{
    margin-left: 60px;
    padding: 40px;
    padding-top: 120px;
}
.main{
    border: 2pax solid black;
}
.content{
    margin-top: -450px;
    margin-left: 680px;
}
.p{
    text-align: justify;
    width: 500px;
}
.sc1{
    width: 100%;
    background-color: #b5cfd3 ;
}
.content p {
    font-size: 20px;
    font-family: sans-serif;
}
.content h4{
    color: rgba(255, 146, 4, 0.911);
    font-size: 22px;
    font-family: sans-serif;
}
.content h2{
    color: #5b5b5b;
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    background-color:rgba(255, 146, 4, 0.911) ;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 3px 5px 0px rgb(138, 133, 133);
    color: white;
    margin: 30px 15px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.tieude{
    text-align: center;
    font-family: 'Franklin Gothic Medium',sans-serif;
    color: blanchedalmond;
}
.tieude {
    padding-top: 50px;
}
.tieude h1 {
    font-size: 50px;
}
.tieude p {
    font-size: 20px;
}
.imgs img{
    width: 330px;
    height: 440px;
    transition: transform 1s;
}
.imgss img{
    width: 522px;
    height: 392px;
    transition: transform 1s;
}
.sc2 .hinhanh{
    width: 1200px;
    display: flexbox;
    margin: 20px;
    margin-left: 100px;
}
.sc2{
    background: #060c4e;
    width: 100%;
}
.ab2 figcaption, .ab3 figcaption{
    text-decoration: none;
    list-style: none;
    color: blanchedalmond;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}
figcaption{
    margin-bottom: 20px;
}
.ab3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.ab2{
    display: flex;
    justify-content: space-evenly;
}
.imgs:hover img, .imgss:hover img{
    transform: scale(1.1);
}
.title h1{
    font-size: 50px;
}
.title p{
    font-size: 20px;
}
.title{
    text-align: center;
    font-family: 'Franklin Gothic Medium',sans-serif;
    color: blanchedalmond;
}

.title img{
    margin: 20px;
    width: 252px;
    height: 250px;
    padding: 20px;
}
.sanpham{
    margin-top: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium',sans-serif;
}
.sanpham h1 {
    font-size: 50px;
    color: #ffb716;
}
.sanpham p {
    font-size: 20px;
    color: gray;
}
.list-img{
    margin-top: 40px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: 255px 255px 255px 255px;
    grid-template-rows: 255px 255px 255px 255px;
    grid-gap: 40px;
}
.list-img img{
    width: 255px;
    height: 190px;
}
.btN{
    background-color:rgba(255, 146, 4, 0.911) ;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0px 3px 5px 0px rgb(138, 133, 133);
    color: white;
    margin-left: 600px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.div{
    background-image: url(images/product_13.jpg);
    margin-top: 50px;
    padding: 60px;
}
.noidung{
    color: rgba(196, 9, 243, 0.753);
    font-size: 56px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.image-1 img{
    width: 250px;
    height: 100px;
    margin-left: 200px;
    margin-top: 80px;
}
.image-2 img{
    width: 408px;
    height: 100px;
    float: right;
    margin-top: -125px;
    margin-right: 50px;
}
.part{
    background-color: #081726;
    display: flex;
    justify-content: space-evenly;
    color: white;
    padding: 50px;
}
.khach h1, .da h1, .nvien h1{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
}
.khach p, .da p, .nvien p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.tt h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.tt p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.part-2{
    margin-top: 30px;
    padding: 20px;
}
.im{
    text-decoration: none;
    color: gray;
}
.im img{
    width: 100px;
    height: 100px;
}
.im h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.im p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.ab4{
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.ab5{
    margin-left: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.footer{
    padding: 50px;
    background-color: #081726;
    display: flex;
    justify-content: space-evenly;
}
.footer-2{
    color: white;
    text-align: center;
    background-color: #081726;
}
.footer-2 p{
    padding: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.nd h3{
    color: #ffb716;
    font-family: Arial, Helvetica, sans-serif;
}
.nd p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nd img{
    width: 18px;
}




